.footers {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #2a2a2a;
}

.footerdivs {
  display: inline-block;
  margin: 25px 0px 25px 0px;
  padding: 25px;
}

#login2 {
  border: solid 2px gray;
  border-radius: 75px;
  background: linear-gradient(#ff0036, #3900ff);
  padding: 25px;
  margin: 0px;
}

#copyright {
  margin: 0px;
  padding: 0px 35px 0px 35px;
  text-align: center;
  background-color: #4a4a4a;
}
  
  

