.footers {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #2a2a2a;
}

.footerdivs {
  display: inline-block;
}

#login2 {
  border: solid 2px gray;
  border-radius: 75px;
  background: linear-gradient(#ff0036, #3900ff)
}
