.footers {
  background-color: #2a2a2a;
  color: white;
  display: inline;
  overflow: hidden;
}

.footers div {
  display: inline;
}

.footerimg, .links, .login {
  display: block;
}

.copyright {
  background-color: #4a4a4a;
  text-align: center;
}
